.contentArea
{
  border-radius: 15px;
  margin: auto;
  width: 85%;
  position: relative;
  top: 10vh;

  border-width: 0.25em;
  border-style: solid;
  border-color:forestgreen;
  background-color: white;
  display: flex;
  flex: 1;
  text-align: center;
}

.content
{
    padding: 1em;
    display: block;
    width: 100%;
    text-align: center;
}

.content p
{
  text-align: justify;
  text-indent: 1em;
}

.content h1
{
  text-align: center;
}